[Unit]
Description=Gunicorn instance to serve Django Histologia
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/minero/histologia/django
Environment="PATH=/home/minero/histologia/django/venv/bin"
ExecStart=/home/minero/histologia/django/venv/bin/gunicorn --workers 3 --bind unix:/home/minero/histologia/django/gunicorn.sock drf.wsgi:application

[Install]
WantedBy=multi-user.target
