<!-- home.component.html -->
<div class="cuerpo">
  <!-- Add error message display -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="filters">
    <app-filter
      [label]="'Categorias'" 
      [allItems]="categorias"
      (filterChange)="updateSelectedFilters('category', $event)">
    </app-filter>
    <app-filter 
      [label]="'Sistemas'" 
      [allItems]="sistemas"
      (filterChange)="updateSelectedFilters('system', $event)">
    </app-filter>
    <app-filter 
      [label]="'Organos'" 
      [allItems]="organos" 
      (filterChange)="updateSelectedFilters('organ', $event)">
    </app-filter>
    <app-filter 
      [label]="'Tinciones'" 
      [allItems]="tinciones"
      (filterChange)="updateSelectedFilters('tincion', $event)">
    </app-filter>
  </div>
  <section class="base">
    <div *ngIf="listaTejidos_show.length === 0" class="no-muestras">
      <p>{{ errorMessage || 'No hay muestras disponibles.' }}</p>
    </div>
    <!-- Itera sobre cada sistema único -->
    <div *ngFor="let sistema of sistemasUnicos" class="tissue-group">
      <p class="tissue">Sistema {{ sistema }}</p>
      <!-- Filtra las muestras por el sistema actual y muestra todas las muestras -->
      <div class="orden">
        <div *ngFor="let muestra of getMuestrasPorSistema(sistema)" class="orden-content">
          <img 
            (click)="drawPoint($event)" 
            [src]="getImageUrl(muestra)"
            [alt]="muestra.name"
            (error)="handleImageError($event)"
          >
          <a [routerLink]="['/tejido', muestra.id]" class="list-group-item">
            {{ muestra.name }}
          </a>
        </div>
      </div>
    </div>
    <!-- Agrega una sección para las muestras sin sistema -->
    <div class="tissue-group" *ngIf="getMuestrasSinSistema().length">
      <p class="tissue">Sin sistema</p>
      <div class="orden">
        <div *ngFor="let muestra of getMuestrasSinSistema()" class="orden-content">
          <img 
            (click)="drawPoint($event)" 
            [src]="getImageUrl(muestra)"
            [alt]="muestra.name"
            (error)="handleImageError($event)"
          >
          <a [routerLink]="['/tejido', muestra.id]" class="list-group-item">
            {{ muestra.name }}
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
